node_modules
dist
.env
.DS_Store
coverage
*/prisma/dev.db

# Large files and executables
*.exe
*.msi
*.dmg
*.pkg
*.deb
*.rpm
services/member-service/.dockerignore
services/schedule-service/.dockerignore
infrastructure/docker/docker-compose.prod.yml
infrastructure/docker/docker-compose.yml
services/identity-service/.dockerignore
services/billing-service/.dockerignore
