services:
  gateway:
    image: nginx:stable
    container_name: api-gateway
    volumes:
      - ../gateway/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../apps/web-admin/dist:/usr/share/nginx/html:ro
    ports: ["8080:80"]
    depends_on: [identity, member, schedule, billing]
  identity:
    build: ../services/identity-service
    env_file: ../services/identity-service/.env.example
    ports: ["3001:3000"]
    depends_on: [db]
  member:
    build: ../services/member-service
    env_file: ../services/member-service/.env.example
    ports: ["3002:3000"]
    depends_on: [db]
  schedule:
    build: ../services/schedule-service
    env_file: ../services/schedule-service/.env.example
    ports: ["3003:3000"]
    depends_on: [db]
  billing:
    build: ../services/billing-service
    env_file: ../services/billing-service/.env.example
    ports: ["3004:3000"]
    depends_on: [db]
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: gym
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: gymdb
    ports: ["5432:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
volumes:
  pgdata:
