services:
  gateway:
    image: nginx:stable
    container_name: api-gateway
    volumes:
      - ../gateway/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../../apps/web-admin/dist:/usr/share/nginx/html:ro
    ports: ["8080:80"]
    depends_on:
      identity:
        condition: service_started
      member:
        condition: service_started
      schedule:
        condition: service_started
      billing:
        condition: service_started
    restart: unless-stopped
  identity:
    build: ../../services/identity-service
    container_name: identity-service
    env_file: ../../services/identity-service/.env
    ports: ["3001:3001"]
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ../../packages:/packages:ro
    restart: unless-stopped
  member:
    build: ../../services/member-service
    container_name: member-service
    env_file: ../../services/member-service/.env
    ports: ["3002:3002"]
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ../../packages:/packages:ro
    restart: unless-stopped
  schedule:
    build: ../../services/schedule-service
    container_name: schedule-service
    env_file: ../../services/schedule-service/.env
    ports: ["3003:3003"]
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ../../packages:/packages:ro
    restart: unless-stopped
  billing:
    build: ../../services/billing-service
    container_name: billing-service
    env_file: ../../services/billing-service/.env
    ports: ["3004:3004"]
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ../../packages:/packages:ro
    restart: unless-stopped
  # Single PostgreSQL Server with Multiple Databases
  postgres:
    image: postgres:16
    container_name: gym-database
    environment:
      POSTGRES_USER: gym
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: gym_main
      TZ: Asia/Ho_Chi_Minh
    command: >
      postgres 
        -c timezone=Asia/Ho_Chi_Minh
        -c log_timezone=Asia/Ho_Chi_Minh
    ports: ["5432:5432"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../database/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gym"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    container_name: gym-redis
    ports: ["6380:6379"]
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
